@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
:root{
    --TitleFonts: 'Poppins', sans-serif;
    --subTitle:'karla';
    --sizeParagraph:1.125rem;
    --sizeTitle:2.25rem;
    --letterSpacingTitle:2px;
    --letterSpacingParagraph:1.5px;
  }

*{
  box-sizing: border-box;
  text-decoration: none;
}
.App {
  background-color: #000000;
  text-align: center;
  min-height: 200vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.navBar{
  background-color: white;
  height: 9vh;
  font-family: var(--subTitle);
  opacity: 40%;
  display: flex;
  /* position: fixed; */
  z-index: 999;
  width:100%;
  top: 0px;
}

.listNavBar{

  width: 100%;
  display: flex;
  align-items: center;
  padding: 0px 70px;
  justify-content: space-evenly;
}

.listNavBar a h3{
  text-decoration: none;
  color: black;
  font-size:18px;
  font-family: var(--subTitle);
  font-weight: 500;
  font-style: normal;

}

.header{
  width: 100%;
  min-height: 90vh;
  }

.header video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.logo{
  width: 15vh;
}

.headerTitle{
  font-family: var(--TitleFonts);
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 45vh;
  justify-content: center;
  left: 40px;
  align-items: center;
  color:  #e1dbcc;
}

.headerTitle h1{
  font-size: 4.2em;
  font-weight: 500;
  letter-spacing: 9.6px;
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  margin: 0px;
}
.headerTitle p{
  font-family: var(--subTitle);
  max-width: 650px;
  letter-spacing: var(--letterSpacing);
  text-align: start;
}

.aboutUs{
  background-color: #fff;
  width: 100%;
  display: flex;
  padding:40px;
  min-height: 100vh;
  /* text-align: start; */
}


.leftContent{
  width: 40%;
  display: flex;
  top: 5rem;
}

.imageShodow{
  width: 100%;
}

.imageShodow img{
  width: 300px;
  height: 480px;
  flex-shrink: 0;
  box-shadow: -13px 10px 0px #C6C5C5;
}
.imageShodow img:hover{
  transform: translateY(-5px);
  border-radius: 10px;
  transition-duration: 0.4s;
  box-shadow: -13px 20px 4px #C6C5C5;
  
}

.rightContent{
  width: 55%;
  font-style: normal;
  text-align: start;
}

.aboutUsTitle{
  font-size: var(--sizeTitle);
  font-family: var(--TitleFonts);
  letter-spacing: var(--letterSpacingTitle);
  font-weight: 400;
  text-transform: uppercase;

}

.aboutUsText{
  font-family: var(--subTitle);
  font-weight: 400;
  font-style: italic;
  max-width: 650px;
  font-size: var(--sizeParagraph);
  letter-spacing:var(--letterSpacingParagraph);
}

.servicesContainer{
  padding: 70px;
  color: #fff;
  min-height: 92vh;
  align-items: center;
}

.services{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
}

.serviceContent img{
  width: 300px;
  height: 400px;
  object-fit: cover;
  flex-shrink: 0;
}

.descriptionService{
  max-width: 300px;
  text-align: start;
  font-family: var(--subTitle);
  font-size: var(--sizeParagraph);
  letter-spacing: var(--letterSpacingParagraph);
  padding-left: 5px;

}


.moreInfos{
  background-image:url(images/moreInfoBack.png);
  width: 100%;
  height: 40vh;
  background-repeat: no-repeat;
  object-fit: cover;
  background-position: center;
  display: flex;
  color: white;
  padding: 30px;
  align-items: center;
  justify-content: space-around;
}

.moreInfoTitle{
  font-family: var(--TitleFonts);
  font-size: var(--sizeTitle);
  letter-spacing: var(--letterSpacing);
  font-weight: 400;
}
.moreInfoDescriptionContainer{
  display: flex;
  justify-content: center;
  max-width: 250px;
  
}

.moreInfoDescription{
  font-size: var(--sizeParagraph);
  font-family: var(--subTitle);
  font-weight: 200;
  
}
.videoGraphy{
  width: 55%; 
}
.myWorkImage{
  width: 100%;
}

.myWorkCards{
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: 30px auto 100px auto ;
}

.videoGraphyTitle{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}
.myWorkTitle{
  margin-bottom: 20px;
}

.moreVideos{
  color: #fff;
  display: flex;
  align-items: center;
  text-align: center;
  padding-left: 12px;
  border: 1px solid;
  max-width: 350px;
  height: 12vh;
  width: 300px;
  transition:0.9s ease;

}

.moreVideos:hover{
  background-color: #fff;
  color: #000000;
}








@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
