body{
  margin: 0px;
  list-style: none;
  text-decoration: none;
  padding: 0px;
  box-sizing: border-box;
  width: 100%;
}


::-webkit-scrollbar-thumb {
  background: blue; 
  border-radius: 10px;
}